/* Task1 CSS: 
Style the page with CSS to:
Center the heading on the page.
Make the list items bold and green.
Add a 1px border to the list and set the list’s background color to light gray.*/


.header{

 /*Center the heading on the page. */
    text-align: center; 
    color: rgb(10, 80, 48);
}

ul{ 
    /*list’s background color light gray*/
    background-color: lightgray; 
    
    /*1px border to the list*/
    border:  1px solid green;  

}
li{

    /* Make the list items green  */
    color: green;

    /* Make the list items bold  */
    font-weight: bold;  
   
}